DATABASE_URL="postgresql://agro_user:agro_pass@localhost:5432/agroplatforma?schema=public"
JWT_SECRET="promeni-ovo-u-jak-tajni-kljuc"
JWT_EXPIRES_IN="1d"
PORT=3000
CORS_ORIGIN="http://localhost:4200"
