<div class="korisnik-meni">
  <button type="button" class="dugme-avatar" (click)="preklopi()" [title]="korisnik ? 'Nalog' : 'Prijava / Registracija'">
    @if (korisnik) {
      <span class="avatar-inicijal">{{ korisnik.username.charAt(0).toUpperCase() }}</span>
    } @else {
      👤
    }
  </button>

  @if (otvoren()) {
    <div class="padajuci-meni">
      @if (korisnik) {
        <span class="padajuci-meni-korisnik">{{ korisnik.username }}</span>
        <a routerLink="/profil/nalog" class="padajuci-meni-stavka" (click)="zatvori()">Pregled profila</a>
        <button type="button" class="padajuci-meni-stavka padajuci-meni-dugme" (click)="odjaviSe()">Odjava</button>
      } @else {
        <a routerLink="/prijava" class="padajuci-meni-stavka" (click)="zatvori()">Prijava</a>
        <a routerLink="/registracija" class="padajuci-meni-stavka" (click)="zatvori()">Registracija</a>
      }
    </div>
  }
</div>
0