@if (otvoren) {
  <div class="modal-pozadina" (click)="otkazi()">
    <div class="modal-sadrzaj" (click)="$event.stopPropagation()">
      <h2>{{ naslov }}</h2>
      <p>{{ poruka }}</p>
      <div class="modal-akcije">
        @if (!samoInformativno) {
          <button type="button" class="dugme dugme-sekundarni" (click)="otkazi()">
            {{ tekstOtkazivanja }}
          </button>
        }
        <button type="button" class="dugme dugme-primarni" (click)="potvrdi()">
          {{ tekstPotvrde }}
        </button>
      </div>
    </div>
  </div>
}
